<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Resultado:{{ data }}</h1>
    
</body>
</html>

<img src="https://scontent-for1-1.xx.fbcdn.net/v/t51.29350-15/460295351_1936260500170173_5009055817814610392_n.jpg?_nc_cat=105&amp;ccb=1-7&amp;_nc_sid=8c02ab&amp;_nc_ohc=txzYDohiJYQQ7kNvgE2Wkd-&amp;_nc_ht=scontent-for1-1.xx&amp;_nc_gid=ALCUPUwfYPnzXCe_U72DC2E&amp;oh=00_AYA6tP8mAF8DNUe-LUijgTNk70c20RFZkadsPHo4WN7FUg&amp;oe=66F63593" alt="Imagem perfil" draggable="false">